{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:jest/recommended",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "globals": {
    "document": true,
    "__DEV__": true
  },
  "plugins": [
    "react",
    "prettier",
    "markdown",
    "json"
  ],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "semi": true
      }
    ],
    "react/forbid-prop-types": 0,
    "react/prop-types": 1,
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "react/prefer-stateless-function": 0,
    "jsx-a11y/label-has-for": 0,
    "react/jsx-props-no-spreading": 1,
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelComponents": ["label"],
      "labelAttributes": ["htmlFor"],
      "controlComponents": ["input"]
    }],
    "no-underscore-dangle": 0,
    "react/no-danger": 1
  }
}

